@{
    ViewBag.Title = "About";
}
<h2>Lavania Naidoo's Biography</h2>
<p class="lead">Who am I?</p>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h3>Biography:</h3>
            <p4 class="text-justify">My name is Lavania Naidoo. I am 20 years old, and was born on the 18th of March. I am the second child, out of three children, and I am the first one in my entire family, to go to University, and hence they are very proud of me. I am currently studying BIT Information Systems, and am in my second year. Since we were fully online last year, I speant my entire first year back in Joburg, however, since most of my lectures are taking place on campus this year, I decided that living closer to the Unversity will be the best option. I have been staying in Hatfield for 4 months now.<br /><br /> I am a very shy person, so I found it quite difficult to make new friends when I first got to Hatfield, however, it has become a lot more easier to make new friends, now, since I have become more independent.<br /><br /> I love doing adventourous activites during my spare time, for example, going bunjee jumping is one of my favourites. I also love reading books, and watching movies with friends. One of my pet peeves is when people do not clean up after themseleves, which is why, I found very difficult to adapt to living with three roommates, whom I did not know.</p4>
        </div>
        <div class="col-md-6">
            <h3>
                Lavania Naidoo:
            </h3>
            <img src="C:\Users\Lavania\Desktop\INF 272\Homework Assignment 3\LavaniaPic.jpg" alt="Image of Lavania Naidoo. I have tried everything, to make my image appear, however nothing has worked." />
        </div>
    </div>
</div>   