@{
    ViewBag.Title = "Home Page";
}


    <h2>Meida Uploader</h2>
    <p class="lead">Innovative Storage</p>
    <div class="jumbotron">
        <div class="row">
          <div class="col-md-8">
            <h3>Description:</h3>
            <p class="text-justify">This Media System, allows the user to select whether they wish to upload a File, Video or a Image. This will be done through the use of three different radio buttons. All Files, Videos and Images will be uploaded and stored in their correct sections, i.e A file will be stored and can be viewed on the Files Page. The user will be able to upload as many Files, Videos and/or Images, as they wish. They will also be able to download thier files, videos and images, as well as delete them as they wish.<br /><br />This System will serve as an efficient way for users to upload and download, whatever files, images and/or videos, they wish to. All their pictures, files and videos will be catergorized and stored onto different web pages, which they will be able to acees through the use of the Navigation Bar.The delete option will also make it easy for the user to remove whichever file, video and /or image, in a single step.</p>
          </div>
          <div class="col-md-4">
              <h3>
                  Option Selection:
              </h3>

              <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Document" checked>
                  <label class="form-check-label" for="exampleRadios2">
                      Document
                  </label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="Image">
                  <label class="form-check-label" for="exampleRadios3">
                      Image
                  </label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Video">
                  <label class="form-check-label" for="exampleRadios1">
                      Video
                  </label>
              </div>
              <div class="container">
                  <div class="form-group">
                      <input type="file" name="img[]" class="file">
                      
                  </div>
              </div>
              <div class="form-group, text-right">
                  <button type="button" class="btn btn-outline-secondary" >Submit</button>
              </div>
          </div>
         </div>
    </div>   

    